{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h2 class="text-white mb-4">Welcome to the Gallery</h2>
        {% if main_image %}
          <div class="main-image">
            <img src="{{ main_image.full_path }}" alt="Main Image" class="img-fluid" style="max-width: 100%;">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

